  <head>
<body>
  <script>

    function buzz(){
      window.location.href='/buzz'
    };
  </script>
</head>
  <link rel="stylesheet" href="/css/style.css"/>
  <div align = center>
      <h1 align = "center"> Join a session</h1>
      <p> Enter code to access lecture information</p>
      <br>

      <form>
        <textarea id = "code" placeholder="Enter code here"></textarea>
        <br>
        <br>
      <button class = "button" value="Enter Code" onclick="buzz()"> Enter </button>
    </form>
    </div>
</body>
