<html>
  <head>
    <script type="text/javascript" charset="utf-8" src="cordova-x.x.x.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script type = "text/javascript"></script>

    <script>
      var socketio = io();
      //.connect('127.0.0.1:1337');
      /*socket.on('message', function(data){
          console.log(data.message);
      });
      */

      document.addEventListener('DOMContentLoaded', function(){
                      if(!Notification) {
                        alert("Notifications dont work");
                        return;
                      }
                      if(Notification.permission !== "granted")
                        Notification.requestPermission();
                    });
        function notifyMe(hello) {
            if(Notification.permission !== "granted")
              Notification.requestPermission();
              else {
             var notification = new Notification('You have recieved a buzz', {
               icon: 'http://student.computing.dcu.ie/~cassera4/Red_Button.jpg',
               body: hello,
             });
             notification.onclick = function() {
               window.open("https://www.facebook.com/");
             }
           }
         }

    socketio.on("message_to_client", function(data) {
     //document.getElementById("chatlog").innerHTML = ("<hr/>" +
     //data['message'] + document.getElementById("chatlog").innerHTML);
       //  alert("server has a msg for you");
         notifyMe(data['message']);
     });


    /*socketio.on("new_msg", function(data) {
     alert(data.msg);
    }*/
    function sendMessage() {
          var msg = document.getElementById("message_input").value;
          socketio.emit("message_to_server", { message : msg});

        }

        function myFunction(){
          var x = document.getElementById("Messages");
          var i = x.selectedIndex;
          var result = x.options[i].text;
          return result;
        }
    </script>

          </head>
            <body>
              <div align = "center">

           <form>
                <select id="message_input" onchange = "myFunction()">
                  <option>I don't understand</option>
                  <option>Can you please repeat</option>
                </select>
                <br>
                <button type = "submit" name= "button" style="border:0; background: transparent " onclick="sendMessage()"><img src= 'http://blog.wsd.net/adwebster/files/2010/06/Big-Red-Button.png' width='150' height= '130' alt= "submit"/> </button>
              </form>
              <br>
              <!--<button onclick="sendMessage()"> BUZZ </button>-->


</div>


                <!--  <input type="text" id="message_input"/>
                  <button onclick="sendMessage()">send</button>
                  <div id="chatlog"></div>
                -->

  </body>
</html>
