<div align = center>

<h2 class="page-header"> Welcome to UBUZZ! </h2>

<!--<script src="/socket.io/socket.io.js"></script> -->
    <script type="text/javascript">

  //var socketio = io.connect('127.0.0.1:3000');

  function login(){
    window.location.href = '/login';
  };

  function register() {
    window.location.href = '/register';
  };
</script>
<body>


<button Class = "button" onclick="login()"> Login </a> </button>
<button Class = "button" onclick="register()"> Register </button>
</body>
</div>
