<body>
  <script>
    function buzz(){
      window.location.href='/buzz'
    };

  </script>
  <div align = center>
    <h3> <strong>Enter the code please </strong> {{ user.name }}!<br></h3>
      <h1 align = "center"> </h1>



      <textarea id = "code" placeholder="Enter code here" required></textarea>
      <br>
      <br>


      <button Class = 'button' onclick="buzz()" >Enter</button>

    </div>
</body>
